et-xmlfile==1.1.0
logger==1.4
numpy==1.26.4
openpyxl==3.1.2
pandas==2.1.4
psutil==5.9.8
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
pyxlsb==1.0.10
schedule==1.2.2
six==1.16.0
tzdata==2024.1
XlsxWriter==3.1.9
xlwings==0.30.15